/* Login Container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   background:  linear-gradient(118deg, #779dd3, #e6b13eb8);
    font-family: Arial, sans-serif;
}

/* Login Form */
.login-form {
    background: #ffffffcf;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Form Group */
.form-group {
    margin-bottom: 15px;
}

/* Form Input */
form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

/* Error Text */
.error-text {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
}

/* Login Button */
.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 15px;
}

.login-btn:hover {
    background-color: #45a049;
}

/* Register Link */
.register-link {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9rem;
}

.register-link a {
    color: #007BFF;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
